:root {
    --primary-blue: #2D29D1;
    --primary-navbar-item: rgba(188, 187, 252, 0.7);
    --light-ea: #EAEAEA;
}

.bg-primary-navbar-item {
    background: var(--primary-navbar-item);
}

.color-primary-blue {
    color: var(--primary-blue);
}

.color-unselected {
    color: #727272;
}

.bg-light-ea {
    background: var(--light-ea);
}