.rounded-4px {
    border-radius: 4px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-16 {
    border-radius: 16px;
}

.h-full {
    height: 100vh;
}

.flex-1 {
    flex-grow: 1 !important;
}

.pointer {
    cursor: pointer;
}

.align-self-center {
    align-self: center !important;
}

.dashboard-container {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(40px);
    border-radius: 15px;
    padding: 20px;
}

.border-grey {
    border: 1px solid #53545c;
}