@import './ui/css/container.css';
@import './ui/css/font.css';
@import './ui/css/colors.css';

body {
  margin: 0;
  font-size: 14px !important;
  font-family: 'Red Hat Display', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background-color: transparent;
  border: transparent;
}

input:focus {
  outline: none;
}